body{
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    font-family: 'Architects Daughter', cursive;
    color: coral;
    font-size: 60px;
}
span{
    color: rgb(187, 157, 146);
}
nav ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul li{
    float: left;
}
li a{
display: block;
  color: rgb(255, 253, 253);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
    color:coral;
    text-decoration: none;
}
.nav{
    border: 5px 5px;
    position: relative;
    height: 70px;
    position: fixed;
    font-size: xx-large;
    font-weight: bolder;
    height: 70px;
}
#contacts{
    text-align: center;
    height: 80vh;
    margin-top: 100px;
}
h1{
    font-family: 'Architects Daughter', cursive;
    font-size: 70px;
    text-align: center;
    color: rgb(248, 243, 240);
    text-shadow: 3px 3px 5px black;
}

.home{
    background-image: url("../images/pizza1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 400px;
}
#about{
    text-align: center;
    padding: 150px;
}


p{
    color:rgb(248, 247, 246);
    text-align: center;
}
#menu p{
    color: coral;
    font-size: large;
}
.img1{
    border-radius: 20%;
}
.home> h1{
    color: rgb(240, 224, 240);
    padding-top: 0px;
}
#img1{
    margin-right: 3%; 
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
    transition-duration: 0.2s;
}

#img1:hover{
    transition: 0.5s;
}

#img1 img{
    border-radius: 10px;
}

#img1 img:hover{
    transform: scale(1.2);
    transition-delay: 0.1s;
   
}
.row{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row div{
    width: 450px;
}

#about-us{
    padding: 10%;
    color: black;

}
.type{
    display: grid;
    text-align: center;
}
#menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px;
}
.small{
    padding-right: 20px;
    margin-right: 20px;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 250px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  .flip-card-back {
    background-color: lavender;
    color: white;
    transform: rotateY(180deg);
  }
  
  .img2,.img3,.img4{
    margin-right: 3%; 
    overflow: hidden;
    object-fit: cover;
    border-radius: 20px;
    transition-duration: 0.2s;
  }
  .img2:hover{
    transition: 0.5s;
}

.img2{
    border-radius: 10px;
}

.img2:hover{
    transform: scale(1.2);
    transition: 0.1s;
}


.img3:hover{
    transition: 0.5s;
}
.img2 img{
    border-radius: 10px;
}
.img3 img{
    border-radius: 10px;
}

.img3:hover{
    transform: scale(1.2);
    transition-delay: 0.1s;
   
}
.img4:hover{
    transition: 0.5s;
}

.img4 img{
    border-radius: 10px;
}

.img4:hover{
    transform: scale(1.2);
    transition-delay: 0.1s;
   
}
.submit{
    color: coral;
    font-size: 40px;
}
button{
    color: darkgray;
}
button:hover{
    color: rgb(73, 95, 69);
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 20%;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
footer{
    color: #55ACEE;
    text-align: center;

}      

   
.contact h2{
    text-align: center;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Gabriela', serif;
  }
  input[type=text],input[type=email],#comment{
    background: transparent;
    color: white;
    font-size: 20px;
    font-family: 'Copse', serif;
  }
  
  .form-control::-webkit-input-placeholder { 
    color: white; 
  }
  #input1{
    width: 30%;
    margin-left: 18%;
    margin-right: 30px;
  }
  #input2{
    width: 30%;
  }
  #comment{
    margin-left: 20%;
    width: 60%;
  }
  /* button{
    margin-left: 20%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin: 0 auto;
    left: 20%;
  } */
  

